.dropdown-select-field {
	display: grid;
	grid-auto-flow: column;
	position: relative;
	border: 1px solid var(--primary-gray);
	padding: 10px;
	border-radius: 6px;
	background-color: #fff;

	& > .icon {
		display: grid;
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);

		& svg {
			transform-origin: center center;
			transition: all 0.5s;
		}
	}

	& > .rotate svg {
		transform: rotate(180deg);
	}

	& > input {
		border: none;
		padding: 0;
		background-color: transparent;
	}
}

.dropdown-panel {
	position: absolute;
	top: 110%;
	right: 0;
	left: 0;
	margin: 0;
	padding: 0;
	border-radius: 6px;
	list-style: none;
	background-color: #fff;
	box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
	max-height: 160px;
	overflow-y: auto;
	z-index: 10;

	& > li {
		padding: 10px;
		min-height: 40px;
		cursor: pointer;

		&:hover {
			background-color: var(--ligth-gray);
		}
	}
}
