/*
 * This is for global css usage.
 */
* {
	box-sizing: border-box;
}

.basic-row {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(calc((100% - (15px * (var(--col-num) - 1)) ) / var(--col-num)), 1fr));
	grid-gap: 0 15px;
}

.row-2 {
	--col-num: 2;
	composes: basic-row;
}

.row-3 {
	--col-num: 3;
	composes: basic-row;
}

.row-4 {
	--col-num: 4;
	composes: basic-row;
}

:global(#modal-root) {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;

	&:empty {
		display: none;
	}
}

@keyframes :global(error-msg-slide-in) {
	0% {
		transform: translateY(-100%);
		opacity: 0%;
	}

	30% {
		opacity: 0%;
	}

	100% {
		transform: translateY(0%);
		opacity: 100%;
	}
}
